<div class="mt-4">
    <form method="POST" action="/course/create">
        <div class="form-group">
            <label for="exampleInputEmail1">name</label>
            <input type="text" class="form-control" id="exampleInputEmail1" name="name" aria-describedby="emailHelp" placeholder="input name">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">description</label>
            <input type="text" class="form-control" id="exampleInputPassword1" name="description" placeholder="input description">
        </div>
         <div class="form-group">
            <label for="exampleInputEmail1">image</label>
            <input type="text" class="form-control" id="exampleInputEmail1" name="image" aria-describedby="emailHelp" placeholder="input image">
  
        </div>
         <div class="form-group">
            <label for="exampleInputEmail1">slug</label>
            <input type="text" class="form-control" id="exampleInputEmail1" name="slug" aria-describedby="emailHelp" placeholder="input slug">
  
        </div>
         <div class="form-group">
            <label for="exampleInputEmail1">videoid</label>
            <input type="text" class="form-control" id="exampleInputEmail1" name="videoid" aria-describedby="emailHelp" placeholder="input id">
  
        </div>
      
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>