<div class="mt-4">
    <div class="row">
        <div class="col-lg-3">
            <button> LEARN </button>
        </div>

        <div class="col-lg-9">  
            <div class="name"> {{course.name}}</div>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/{{course.videoid}}?si=_EJSHHrCIPW9IeKQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <p>Course detail page</p>
        </div>

    </div>  
</div>